@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap&subset=cyrillic-ext");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
._ibg {
  position: relative; }

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover; }

body {
  color: 14px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto"; }

.page__wrapper {
  min-height: 100%;
  overflow: hidden; }

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50; }

.header-wrapper {
  max-width: 1110px;
  padding: 0px 15px;
  margin: 0px auto;
  height: 50px; }
  @media (max-width: 767px) {
    .header-wrapper {
      height: 30px; } }
  @media (max-width: 395px) {
    .header-wrapper {
      height: 50px; } }

.header__top-line {
  background: #EFEFEF; }
  .header__top-line .top-menu__list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

.top-menu__item {
  margin: 17px 0px 16px 0px; }
  .top-menu__item:not(:last-child) {
    margin: 17px 30px 16px 0px; }
  .top-menu__item .top-menu__link {
    font-size: 14px;
    line-height: 117.21429%;
    color: #333333; }

@media (max-width: 992px) {
  .top-menu__item {
    margin: 15px 0px 9px 0px; }
    .top-menu__item:not(:last-child) {
      margin: 15px 15px 9px 0px; } }

@media (max-width: 767px) {
  .top-menu__item {
    margin: 8px 0px 9px 0px; }
    .top-menu__item:not(:last-child) {
      margin: 8px 15px 9px 0px; }
    .top-menu__item .top-menu__link {
      font-size: 12px; } }

@media (max-width: 479px) {
  .top-menu__item {
    margin: 5px 0px 5px 0px; }
    .top-menu__item:not(:last-child) {
      margin: 5px 10px 5px 0px; }
    .top-menu__item .top-menu__link {
      font-size: 14px; } }

.header__logo {
  position: relative;
  max-width: 1130px;
  padding: 0px 15px;
  margin: 0px auto;
  height: 120px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .header__logo .logo__logo img {
    width: 80px;
    height: 80px;
    margin: 20px 0px 20px 0px; }
  .header__logo .logo__logo .logo__text {
    font-weight: 700;
    font-size: 36px;
    line-height: 117.19444%;
    color: #66C05D;
    display: inline-block;
    margin: 41px 0px 41px 20px; }
  .header__logo .logo__call {
    position: absolute;
    right: 0;
    padding: 0px 10px; }
    .header__logo .logo__call .logo__item {
      font-size: 16px;
      line-height: 117.1875%;
      color: #000000;
      display: inline-block;
      margin-top: 50px; }
    .header__logo .logo__call .button_border {
      margin: 36px 0px 0px 40px;
      display: block;
      float: right;
      background: #FFFFFF;
      width: 170px;
      height: 40px;
      border: 2px solid #66C05D;
      border-radius: 40px;
      text-align: center; }
      .header__logo .logo__call .button_border .logo__button {
        display: inline-block;
        margin-top: 10px;
        font-size: 14px;
        line-height: 117.21429%;
        color: #000000; }

@media (max-width: 767px) {
  .header__logo {
    height: 90px; }
    .header__logo .logo__logo img {
      width: 60px;
      height: 60px;
      margin: 15px 0px; }
    .header__logo .logo__logo .logo__text {
      font-size: 28px;
      line-height: 150.67857%;
      color: #66C05D;
      margin: 24px 0px 33px 15px; }
    .header__logo .logo__call .logo__item {
      font-size: 12px;
      line-height: 156.25%;
      color: #000000;
      margin-top: 35px; }
    .header__logo .logo__call .button_border {
      margin: 28px 0px 0px 20px;
      width: 150px;
      height: 35px; }
      .header__logo .logo__call .button_border .logo__button {
        font-size: 12px;
        line-height: 136.75%;
        color: #000000;
        margin-top: 8px; } }

@media (max-width: 479px) {
  .header__logo {
    height: 50px; }
    .header__logo .logo__logo img {
      width: 40px;
      height: 40px;
      margin: 5px 0px; }
    .header__logo .logo__logo .logo__text {
      font-size: 18px;
      line-height: 234.38889%;
      color: #66C05D;
      margin: 4px 0px 0px 5px; }
    .header__logo .logo__call .logo__item {
      visibility: hidden; }
    .header__logo .logo__call .button_border {
      margin: 10px 0px 0px 20px;
      width: 130px;
      height: 30px; }
      .header__logo .logo__call .button_border .logo__button {
        font-size: 12px;
        line-height: 136.75%;
        color: #000000;
        margin-top: 5px; } }

.header__menu {
  border-top: 1px solid #EFEFEF; }
  .header__menu .menu__list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

.menu__item {
  margin: 30px 0px 30px 0px; }
  .menu__item:not(:last-child) {
    margin: 30px 40px 30px 0px; }
  .menu__item .menu__link {
    font-size: 16px;
    line-height: 102.5625%;
    color: #333333; }

@media (max-width: 992px) {
  .menu__item {
    margin: 20px 0px 20px 0px; }
    .menu__item:not(:last-child) {
      margin: 20px 25px 20px 0px; } }

@media (max-width: 767px) {
  .menu__item {
    margin: 15px 0px 15px 0px; }
    .menu__item:not(:last-child) {
      margin: 15px 20px 15px 0px; }
    .menu__item .menu__link {
      font-size: 12px; } }

@media (max-width: 479px) {
  .menu__item {
    margin: 5px 0px 55px 0px; }
    .menu__item:not(:last-child) {
      margin: 5px 20px 5px 0px; }
    .menu__item .menu__link {
      font-size: 14px; } }

.page {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.content {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto; }

.main-block {
  position: relative; }
  .main-block__container {
    position: relative;
    max-width: 1130px;
    padding: 0px 15px;
    margin: 249px auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.main-block__body {
  position: absolute;
  margin: 0px auto;
  padding: 192px 0px;
  z-index: 2;
  max-width: 308px; }
  .main-block__body > *:not(:last-child) {
    margin: 0px 0px 50px 0px; }

.main-block__title {
  font-size: 48px;
  line-height: 117.08333%;
  color: #FFFFFF;
  font-weight: 700; }

.main-block__text {
  font-size: 14px;
  line-height: 142.85714%;
  color: #FFFFFF; }

.main-block__button {
  background: #66C05D;
  width: 170px;
  height: 40px;
  border: 2px solid #FFFFFF;
  border-radius: 40px;
  display: inline-block;
  margin-top: 0px;
  font-size: 14px;
  line-height: 114.28571%;
  color: #FFFFFF;
  letter-spacing: 0.05em;
  padding: 11px 44px;
  display: inline-block; }

.main-block__image {
  position: absolute;
  width: 100%;
  height: 604px;
  top: 0;
  left: 0; }

@media (max-width: 992px) {
  .main-block__image img {
    -webkit-filter: brightness(80%);
    filter: brightness(80%); }
  .main-block__container {
    margin: 230px auto; }
  .main-block__body {
    padding: 140px 0px; }
    .main-block__body > *:not(:last-child) {
      margin: 0px 0px 30px 0px; }
  .main-block__image {
    height: 480px; } }

@media (max-width: 767px) {
  .main-block__image img {
    -webkit-filter: brightness(60%);
    filter: brightness(60%); }
  .main-block__container {
    margin: 165px auto; }
  .main-block__body {
    padding: 100px 0px; }
    .main-block__body > *:not(:last-child) {
      margin: 0px 0px 20px 0px; }
  .main-block__image {
    height: 400px; }
  .main-block__title {
    font-size: 40px;
    line-height: 140.5%;
    color: #FFFFFF; }
  .main-block__text {
    font-size: 12px;
    line-height: 166.66667%;
    color: #FFFFFF; }
  .main-block__button {
    font-size: 12px;
    line-height: 133.33333%;
    color: #FFFFFF;
    padding: 11px 46px; } }

@media (max-width: 479px) {
  .main-block__container {
    margin: 130px auto; }
  .main-block__body {
    padding: 55px 0px; }
  .main-block__image {
    height: 300px; }
  .main-block__title {
    font-size: 36px;
    line-height: 156.11111%;
    color: #FFFFFF; }
  .main-block__text {
    width: 200px; }
  .main-block__button {
    font-size: 12px;
    line-height: 133.33333%;
    color: #FFFFFF; } }

@media (max-width: 395px) {
  .main-block__container {
    margin: 150px auto; } }

.offers {
  position: relative;
  top: 350px;
  background: #EFEFEF; }
  .offers__container {
    height: 860px;
    position: relative;
    max-width: 1130px;
    padding: 69.8px 15px;
    margin: 0px auto; }

.offers_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.offers__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 117.20833%;
  color: #000000;
  margin-top: 10.2px;
  margin-bottom: 38px; }

.offers__image {
  position: absolute;
  right: 0;
  padding: 0px 10px; }

.offers__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 1110px; }
  .offers__column > div {
    background: #FFFFFF;
    width: 255px;
    height: 363px; }
  .offers__column > div:not(:last-child) {
    margin-right: 30px; }

.item__img {
  text-align: center;
  padding-top: 25px; }

.item__text {
  font-size: 14px;
  line-height: 142.85714%;
  color: #000000;
  text-align: center;
  padding: 0px 30px;
  height: 33px; }

.item__price {
  font-weight: 500px;
  font-weight: bold;
  font-size: 21px;
  line-height: 119.04762%;
  color: #000000;
  letter-spacing: 0.05em;
  text-align: center;
  height: 19px; }

.offers__item {
  text-align: center; }
  .offers__item > *:not(:last-child) {
    margin: 0px 0px 20px 0px; }

.item_buttons {
  background: #66C05D;
  width: 130px;
  height: 35px;
  border: 2px solid #FFFFFF;
  border-radius: 30px;
  display: inline-block; }

.item__button {
  display: inline-block;
  margin-top: 9px;
  font-size: 14px;
  line-height: 114.28571%;
  color: #FFFFFF;
  letter-spacing: 0.05em; }

@media (max-width: 1246px) {
  .offers__container {
    padding: 29.8px 15px; }
  .offers__column {
    width: 100%;
    top: 0;
    left: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .offers__column > div:last-child {
      margin-right: 30px; }
  .offers__item {
    margin-bottom: 20px; } }

@media (max-width: 992px) {
  .offers {
    top: 235px; }
  .offers__container {
    padding: 9.8px 15px; }
  .offers__column > div:not(:last-child) {
    margin-right: 10px; }
  .offers__column > div:last-child {
    margin-right: 10px; }
  .offers__item {
    margin-bottom: 10px; } }

@media (max-width: 559px) {
  .offers {
    height: 1400px;
    top: 235px; }
  .offers__container {
    padding: 9.8px 15px; }
  .offers__column > div {
    width: auto;
    height: auto; }
  .item__img {
    padding-top: 15px; }
  .item__text {
    padding: 0px 5px; }
  .offers__item > *:not(:last-child) {
    margin: 0px 0px 10px 0px; }
  .item_buttons {
    margin-bottom: 15px; }
  .offers__image {
    visibility: hidden; } }

@media (max-width: 479px) {
  .offers {
    height: 1400px;
    top: 150px; }
  .offers__container {
    padding: 5px 15px; }
  .offers__title {
    margin-bottom: 18px; } }

.information {
  position: relative;
  background: #EFEFEF; }
  .information__container {
    position: relative;
    max-width: 1140px;
    padding: 0px 15px;
    margin: 0px auto;
    padding: 100px 15px 132px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.information__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #66C05D;
  width: 540px;
  height: 212px;
  margin-left: 5px; }

.information__bonuses {
  margin: 35px 40px;
  width: 250px;
  height: 142px; }
  .information__bonuses > *:not(:last-child) {
    margin: 0px 0px 20px 0px; }

.bonuses__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 116.66667%;
  color: #FFFFFF; }

.bonuses__text {
  font-size: 14px;
  line-height: 142.85714%;
  color: #FFFFFF; }

.bonuses__email {
  border-radius: 30px;
  width: 225px;
  height: 35px; }
  .bonuses__email::-webkit-input-placeholder {
    color: #C4C4C4;
    padding-left: 25px; }
  .bonuses__email:-ms-input-placeholder {
    color: #C4C4C4;
    padding-left: 25px; }
  .bonuses__email::-ms-input-placeholder {
    color: #C4C4C4;
    padding-left: 25px; }
  .bonuses__email::placeholder {
    color: #C4C4C4;
    padding-left: 25px; }

.bonuses__icon-email {
  margin-top: 36px;
  margin-left: 30px; }

.information__additional {
  background-color: #66C05D;
  width: 540px;
  height: 212px;
  margin-left: 30px; }

.additional__body {
  margin: 35px 40px; }
  .additional__body > *:not(:last-child) {
    margin: 0px 0px 25px 0px; }

.additional__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 116.66667%;
  color: #FFFFFF; }

.additional__text {
  font-size: 14px;
  line-height: 142.85714%;
  color: #FFFFFF; }

.additional_buttons {
  background: #66C05D;
  width: 170px;
  height: 35px;
  border: 2px solid #FFFFFF;
  border-radius: 30px;
  display: inline-block;
  text-align: center; }

.additional__button {
  display: inline-block;
  margin-top: 9px;
  font-size: 14px;
  line-height: 114.28571%;
  color: #FFFFFF; }

@media (max-width: 1246px) {
  .information {
    top: 350px; }
    .information__container {
      padding: 70px 15px 70px 15px; }
  .bonuses__icon-email {
    visibility: hidden;
    margin: 0px 0px; }
    .bonuses__icon-email > img {
      height: 0;
      width: 0; }
  .information__block {
    width: 100%; } }

@media (max-width: 992px) {
  .information {
    top: 235px; }
    .information__block {
      width: 485px; }
  .information__container {
    padding: 60px 15px 72px 15px; } }

@media (max-width: 767px) {
  .information__container {
    padding: 0px 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap; }
  .information__block, .information__additional {
    margin: 0px 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    width: 100%;
    height: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .information__block {
    margin-bottom: 10px;
    text-align: center; }
  .information__bonuses {
    margin: 25px 30px; }
    .information__bonuses > *:not(:last-child) {
      margin: 0px 0px 15px 0px; }
  .additional__body {
    text-align: center;
    margin: 25px 30px; }
    .additional__body > *:not(:last-child) {
      margin: 0px 0px 15px 0px; } }

@media (max-width: 479px) {
  .information {
    top: 150px; } }

.footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto; }
  .footer__container {
    max-width: 1110px;
    padding: 0px 15px;
    margin: 0px auto; }

.footer__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.social_column {
  margin-top: 37px; }
  .social_column > div a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 2px solid #66C05D;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 50px;
    height: 45px;
    width: 45px; }
  .social_column > div:not(:last-child) a {
    margin: 0px 20px 0px 0px; }

.address_column {
  margin-top: 52px; }

.address__item {
  line-height: 114.28571%; }

.call_column {
  margin-top: 50px; }
  .call_column > div:not(:last-child) {
    margin: 0px 40px 0px 0px; }

.call__item {
  font-size: 16px;
  line-height: 118.75%;
  color: #000000; }

.button_item {
  margin-top: -10px;
  display: block;
  float: right;
  background: #FFFFFF;
  width: 170px;
  height: 40px;
  border: 2px solid #66C05D;
  border-radius: 40px;
  text-align: center; }

.button_call {
  display: inline-block;
  margin-top: 11px;
  font-size: 14px;
  line-height: 114.28571%;
  color: #000000; }

@media (max-width: 1246px) {
  .footer {
    margin-top: 330px; } }

@media (max-width: 992px) {
  .footer {
    margin-top: 210px; }
  .footer__container {
    padding-top: 20px; } }

@media (max-width: 864px) {
  .footer__columns {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: auto; }
  .social_column, .address_column, .call_column {
    margin-top: 15px; }
  .social_column {
    padding-top: 15px; } }

@media (max-width: 479px) {
  .footer {
    margin-top: 130px; }
  .call_column {
    margin-top: 30px; } }

@media (max-width: 366px) {
  .call__item {
    display: none; } }

.footer__info {
  background-color: #EFEFEF;
  margin-top: 38px;
  padding: 25px 0px; }

.info__container {
  max-width: 1110px;
  padding: 0px 15px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.info__copyright, .link__policy {
  font-size: 12px;
  line-height: 116.66667%;
  color: #828282; }

@media (max-width: 992px) {
  .info__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    width: 100%;
    height: auto; }
  .info__copyright {
    margin-bottom: 10px; } }
